GuiaWebSOAPLectura/src/conf/xml-resources/web-service-references/WSFunciones/wsdl/localhost_8080/GuiaWebSOAP/WSFunciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSFunciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/GuiaWebSOAP/WSFunciones?xsd=1"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="FSenos">
<part name="parameters" element="tns:FSenos"/>
</message>
<message name="FSenosResponse">
<part name="parameters" element="tns:FSenosResponse"/>
</message>
<message name="Multiplicacion">
<part name="parameters" element="tns:Multiplicacion"/>
</message>
<message name="MultiplicacionResponse">
<part name="parameters" element="tns:MultiplicacionResponse"/>
</message>
<message name="Suma">
<part name="parameters" element="tns:Suma"/>
</message>
<message name="SumaResponse">
<part name="parameters" element="tns:SumaResponse"/>
</message>
<message name="Resta">
<part name="parameters" element="tns:Resta"/>
</message>
<message name="RestaResponse">
<part name="parameters" element="tns:RestaResponse"/>
</message>
<message name="Division">
<part name="parameters" element="tns:Division"/>
</message>
<message name="DivisionResponse">
<part name="parameters" element="tns:DivisionResponse"/>
</message>
<message name="FAreaCirculo">
<part name="parameters" element="tns:FAreaCirculo"/>
</message>
<message name="FAreaCirculoResponse">
<part name="parameters" element="tns:FAreaCirculoResponse"/>
</message>
<message name="FHipotenusa">
<part name="parameters" element="tns:FHipotenusa"/>
</message>
<message name="FHipotenusaResponse">
<part name="parameters" element="tns:FHipotenusaResponse"/>
</message>
<portType name="WSFunciones">
<operation name="Login">
<input wsam:Action="http://ws/WSFunciones/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://ws/WSFunciones/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/WSFunciones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/WSFunciones/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="FSenos">
<input wsam:Action="http://ws/WSFunciones/FSenosRequest" message="tns:FSenos"/>
<output wsam:Action="http://ws/WSFunciones/FSenosResponse" message="tns:FSenosResponse"/>
</operation>
<operation name="Multiplicacion">
<input wsam:Action="http://ws/WSFunciones/MultiplicacionRequest" message="tns:Multiplicacion"/>
<output wsam:Action="http://ws/WSFunciones/MultiplicacionResponse" message="tns:MultiplicacionResponse"/>
</operation>
<operation name="Suma">
<input wsam:Action="http://ws/WSFunciones/SumaRequest" message="tns:Suma"/>
<output wsam:Action="http://ws/WSFunciones/SumaResponse" message="tns:SumaResponse"/>
</operation>
<operation name="Resta">
<input wsam:Action="http://ws/WSFunciones/RestaRequest" message="tns:Resta"/>
<output wsam:Action="http://ws/WSFunciones/RestaResponse" message="tns:RestaResponse"/>
</operation>
<operation name="Division">
<input wsam:Action="http://ws/WSFunciones/DivisionRequest" message="tns:Division"/>
<output wsam:Action="http://ws/WSFunciones/DivisionResponse" message="tns:DivisionResponse"/>
</operation>
<operation name="FAreaCirculo">
<input wsam:Action="http://ws/WSFunciones/FAreaCirculoRequest" message="tns:FAreaCirculo"/>
<output wsam:Action="http://ws/WSFunciones/FAreaCirculoResponse" message="tns:FAreaCirculoResponse"/>
</operation>
<operation name="FHipotenusa">
<input wsam:Action="http://ws/WSFunciones/FHipotenusaRequest" message="tns:FHipotenusa"/>
<output wsam:Action="http://ws/WSFunciones/FHipotenusaResponse" message="tns:FHipotenusaResponse"/>
</operation>
</portType>
<binding name="WSFuncionesPortBinding" type="tns:WSFunciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FSenos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAreaCirculo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FHipotenusa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSFunciones">
<port name="WSFuncionesPort" binding="tns:WSFuncionesPortBinding">
<soap:address location="http://localhost:8080/GuiaWebSOAP/WSFunciones"/>
</port>
</service>
</definitions>