GuiaWebSOAPLectura/src/conf/xml-resources/web-service-references/WSFunciones/wsdl/localhost_8080/GuiaWebSOAP/WSFunciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Division" type="tns:Division"/>

<xs:element name="DivisionResponse" type="tns:DivisionResponse"/>

<xs:element name="FAreaCirculo" type="tns:FAreaCirculo"/>

<xs:element name="FAreaCirculoResponse" type="tns:FAreaCirculoResponse"/>

<xs:element name="FHipotenusa" type="tns:FHipotenusa"/>

<xs:element name="FHipotenusaResponse" type="tns:FHipotenusaResponse"/>

<xs:element name="FSenos" type="tns:FSenos"/>

<xs:element name="FSenosResponse" type="tns:FSenosResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="Multiplicacion" type="tns:Multiplicacion"/>

<xs:element name="MultiplicacionResponse" type="tns:MultiplicacionResponse"/>

<xs:element name="Resta" type="tns:Resta"/>

<xs:element name="RestaResponse" type="tns:RestaResponse"/>

<xs:element name="Suma" type="tns:Suma"/>

<xs:element name="SumaResponse" type="tns:SumaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="FSenos">
<xs:sequence>
<xs:element name="anguloA" type="xs:double"/>
<xs:element name="anguloB" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FSenosResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Suma">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FHipotenusa">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FHipotenusaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FAreaCirculo">
<xs:sequence>
<xs:element name="radio" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FAreaCirculoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Resta">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RestaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Multiplicacion">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Division">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>